# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: weekly
    day: saturday
    time: "03:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 10

    # GitHub Actions
- package-ecosystem: "github-actions"
  directory: ".github/workflows"
  commit-message:
      prefix: "ci"
      include: "scope"
  schedule:
      interval: weekly
      day: saturday
      time: "03:00"
      timezone: Europe/Berlin
  cooldown:
      default-days: 4
